@font-face {
    font-family: "Figtree";
    src:
      /* url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype"), */
      url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    /* font-weight: 100 900; */
    font-style: normal;
    font-variation-settings: 'wght' 100, 'wght' 900;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree";
  /* font-weight: 900; */
  /* font-variation-settings: 'wght' 900; */
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.blog-card {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:20px;
  border-radius: 20px;
  margin: 0 25px 20px 25px;
  box-shadow: 10px 10px 0 1px hsl(0, 0%, 7%);

}

.blog-sections {
    margin-bottom: 15px;
    width: 100%;
}

.blogimage img {
    width: 100%;
    border-radius: 10px;
}

#category {
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    padding: 5px 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0;
}

#category:hover {
    background-color: black;
    color: hsl(47, 88%, 63%);
    display: inline-block;
   transition: background-color 400ms ease-in-out;
}


.blog-content h1 {
    font-size: 23px;
    font-weight: 800;
}

.blog-content h1:hover {
    cursor: pointer;
    color: hsl(47, 88%, 63%);
    font-weight: 800;
    transition: color 200ms ease-in-out;
}


#publishdate {
    font-weight: 600;
    font-size: 15px;
}

.blog-content #description {
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 50%);
    line-height: 24px;
}

.writer-container {
    display: flex;
    /* align-items: start;
    justify-content: start; */
}

.author-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: start; */
}

#author-name {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    color: black;

}

#author-name:hover {
    font-weight: 900;
    color: hsl(0, 0%, 50%);
    transition: color 150ms ease-in-out;

}

@media ("min-width: ") {
    
}